<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-between">
  <ul class="navbar-nav">
   <%= link_to 'Rails Tech Test', root_path, method: :get, class: 'navbar-brand' %>
   <li class="nav-item">
     <%= link_to 'Widgets', widgets_path, method: :get, class: 'nav-link' %>
   </li>
   <li class="nav-item">
     <%= link_to 'Users', widgets_path, method: :get, class: 'nav-link' %>
   </li>
  </ul>
  <ul class="navbar-nav">
    <%- if current_user.present? %>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <%= current_user['name'] %>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'Logout', session_path(current_user['id']), method: :delete, class: 'dropdown-item' %>
          <%= link_to 'Settings', edit_registration_path(current_user['id']), method: :get, class: 'dropdown-item', :remote => true %>
        </div>
      </div>
    <% else %>
     <li class="nav-item">
       <%= link_to 'Connect', new_session_path, method: :get, class: 'btn btn-primary', :remote => true %>
      </li>
    <% end %>
  </ul>
</nav>
